@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url(./assets/bright.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
  margin-top: 100px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.detailsCard {
  width: 80%;
  background-color: rgba(44, 4, 12, 0.9);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 0 3px 1px #ed8285, 0px 0px 19px 3px rgba(255, 255, 255, 0.77);
  position: relative;
  display: flex;
}

.goBackButton {
  position: absolute;
  top: 0;
  left: -50px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: white;
  text-shadow: -1px -1px 18px rgba(237, 130, 134, 1);
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(207, 13, 11, 1),
    0 0 15px -2px rgba(251, 234, 233, 1), inset 0 0 3px 1px rgba(207, 13, 11, 1),
    inset 0 0 12px -5px rgba(251, 234, 233, 1);
}

.goBackImg {
  width: 100%;
  display: block;
  filter: invert();
}

.detailsBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.btn {
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  letter-spacing: 0.5rem;
  padding: 5px 30px;
  text-decoration: none;
  color: #fbeae9;
}

.activeBtn {
  text-decoration: none;
  border-bottom: 2px solid #fbeae9;
  text-shadow: 0 0 4px rgba(44, 4, 12, 0.993), 0 0 12px rgba(251, 234, 233, 1);
}

.loader {
  text-align: center;
}
